{{/*
Image processing for a page resource or global resource

@param {Resource} [res]
@param {Int} [width]
@param {Int} [height]
@param {String} [process] Process specification **without** `dimensions`
@param {Boolean} [upscale] Defaults to false

The `upscale` param only has an effect for `fill` and `resize` processes. `fit`
only downscales, and `crop` does not resize, so `upscale` will
not have any effect for these two processes.

@returns {Resource}

@example
{{ with .Resources.Get "image.jpg" }}
  {{ with partial "utils/process-image" (dict
    "res" .
    "width" 1600
    "height" 1600
    "process" "fit jpg q80 lanczos"
  )}}
    <img src="{{ .RelPermalink }}" alt="{{ path.BaseName .Name | humanize }}">
  {{ end }}
{{ end }}

@example
{{ with .Resources.Get "image.jpg" }}
  {{ with partial "process-image.html" (dict
    "res" .
    "width" 128
    "height" 128
    "process" "fill"
    "upscale" true
  )}}
    <img src="{{ .RelPermalink }}" alt="{{ path.BaseName .Name | humanize }}">
  {{ end }}
{{ end }}

*/}}

{{ $res := .res }}
{{ $width := .width }}
{{ $height := .height }}
{{ $process := .process }}
{{ $upscale := default false .upscale }}

{{ $p := "" }}

{{ with $res }}
  {{ if eq .ResourceType "image" }}
    {{ if not (eq .MediaType.SubType "svg") }}
      {{ if and $width $height }}
        {{ if or (eq $upscale true) (gt .Width $width) (gt .Height $height) }}
          {{ $p = printf "%s %dx%d" $process $width $height }}
        {{ end }}
      {{ else if $width }}
        {{ if or (eq $upscale true) (gt .Width $width) }}
          {{ $p = printf "%s %dx" $process $width }}
        {{ end }}
      {{ else if $height }}
        {{ if or (eq $upscale true) (gt .Height $height) }}
          {{ $p = printf "%s x%d" $process $height }}
        {{ end }}
      {{ else }}
        {{ $p := $process }}
      {{ end }}
      {{ if $p }}
        {{ $res = .Process $p }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $res }}
